<div class="container mt-5">
  <h5 [hidden]="userName===''">Welcome {{userName}}</h5>
  <h5 [hidden]="userName!==''">Please enter your username</h5>
  <form action="" >
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">username</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" (input)="onUsernameInputChanged($event)" >
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput2" class="form-label">password</label>
      <input type="password" class="form-control" id="exampleFormControlInput2" (input)="OnPasswordInputChanged($event)" >
      <p [hidden]="isLessChar||password===''" class="text-danger">password must be altleast 6 character</p>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput3" class="form-label">Retype password</label>
      <input type="password" class="form-control" id="exampleFormControlInput3" (input)="onRetypePasswordChanged($event)" >
    </div>
    <h6 [hidden]="!isPasswordMatch ||password===''">password match!!!</h6>
    <h6 [hidden]="isPasswordMatch ||password===''">password is not Match!!!</h6>
    <div class="mb-3">
      <label for="exampleFormControlInput4" class="form-label">email</label>
      <input type="email" class="form-control" id="exampleFormControlInput4" (input)="onEmailInputChanged($event)" >
      <p [hidden]="checkEmail||email===''">please enter valid email</p>
    </div>

    
  </form>
</div>